﻿<div class="jumbotron">
    <h1>Freestyle</h1>
    <p class="lead">Freestyle is the latest game that allows you to challange your friends with completely valid freestyles.  Rise to the top as the best freestyler.</p>
</div>